.product__item {
  cursor: pointer;
}

.product__info h3 a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-top: 15px;
}

.product__info a:hover {
  color: inherit;
}

.product__info span {
  font-size: 0.9rem;
}

.product__card-bottom .price {
  font-size: 1.3rem;
  font-weight: 500;
  color:#ea1414;
}

.product__card-bottom span i {
  font-size: 1.2rem;
  background:  #b230ef;
  color: #fff;
  border-radius: 50px;
  font-weight: 500;
  padding: 5px;
}

.product__info {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  flex: auto;
}
.product__name {
  height: 100px;
}
.product__cate{
  font-size: 0.3rem;
  font-weight: 500;
  color: #14e18c;
}
